.table-wrapper {
  padding-bottom: 1rem; /*make table wrap pagnitation*/
}

.table-normal {
  position: relative;
  margin-bottom: 10rem; /*make table wrap pagnitation*/
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

tbody tr:hover {
  background-color: rgba(142, 138, 138, 0.196);
}

th,td,tr{
  padding: 2rem;
}

.head-row {
  background-color: #28282b84;
}
/* Buttons styling*/

.action-btn {
  margin: 0.5rem;
  width: 5rem;
}

.add-committee-btn {
  box-sizing: border-box;
  width: 10rem;
  margin: 2rem auto 4rem 2rem;
}

.pagnitation {
  position: absolute;
  bottom: -20%;
  left: 45%;
  white-space: nowrap;
}

/* make pagnitation bottom center*/
@media (max-width: 991.98px) {
  .pagnitation {
    left: 39%;
  }
}


.pagnitation-button {
  margin: 0;
}
