.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center ;
  flex-wrap: wrap;
}

.table-normal {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.table-body tr:hover {
  background-color: rgba(142, 138, 138, 0.196);
}

.table-cell{
  padding: 1.5rem;
}

.head-row {
  background-color: #28282b84;
}
/* Buttons styling*/

.action-btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 5rem;
  height: 2rem;
}

.add-committee-btn {
  width: 10rem;
  margin: 2rem auto 4rem 2rem;
}


