@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@600;700&display=swap");

.login {
  background-color: #fef9f3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  margin: auto 1rem;
  font-family: "Times New Roman", Times, serif;
  padding: 2rem;
}

.login * {
  font-family: Arial, Helvetica, sans-serif;
}

/* css logo và Manager */

.login_left {
  width: 100%;
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
}

.heading1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px !important;
  color: black;
}

/* css form log_in */

.login_right {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 50px;
}
.login_content {
  width: 80%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.login_header-h1 {
  font-size: 45px;
  font-weight: 700px;
  color: black;
}

.login_item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.login-input {
  line-height: 20px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.login-input:focus {
  outline: none;
}
.login-input::placeholder {
  color: #777;
}
.login-input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s;
}
