 @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #72cdee;
    font-family: 'PT Sans', sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login{  
    width: 50%;
    height: 450px;
    background-color: #fef9f3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* css logo và Manager */

.login_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_left img {
      width: 70%;
}

.login_left h1{
    font-size: 70px;
    padding-left: 50px;
}

/* css form đăng nhập */

.login_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.login_header h1{
    font-size: 45px;
    font-weight: 700px;
}

.login_item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.input {
    width: 110%;
    line-height: 20px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .2s;
}

/* css nút button */

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding: 1rem;
    background-color: #2596be;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    /* transition: background-color .3s ease; */
}

/* reponsive */
@media only screen and (max-width: 768px) {
    /* tablets and desktop */
    .login{
        width: 80%;
        height: 500px;
    }
}
