.user-table {
    background-color: transparent;
}

.user-table td, .user-table th {
    border: none;
    background-color: transparent;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 0;
}

.user-table tr {
    border: 0;
}